<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="Cache-control" content="max-age=86400,public" />
<meta name="description" content="{{ site.description }}" />
<meta name="author" content="{{ site.author.name }}">
<meta name="copyright" content="{{ site.copyright }}"/>
<meta name="robots" content="index,follow" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<link rel="icon" href="assets/img/favicon.png">

{% if page.title %}<title>{{ site.name }} · {{ page.title }}</title>
{% else %}<title>{{ site.name }}</title>{% endif %}

